{% extends 'base.html' %}

{% block title %}
    LMS - {{ course_data["Course Name"] }}
{% endblock title %}

{% block content %}
    {% if is_teacher %}
        <div class="row">
            <div class="col">
                <a href="{{ url_for('student_list', CourseID=course_data['Course ID']) }}" class="btn btn-lg btn-outline-primary btn-block" role="button">Students</a>
            </div>
            <div class="col">
                <a href="{{ url_for('new_content', CourseID=course_data['Course ID']) }}" class="btn btn-lg btn-outline-success btn-block" role="button">New Content</a>
            </div>
        </div>
    {% endif %}

    <!-- {% for course in student_course_list %}
        <div class="card mt-4">
            <div class="card-body">
                <a href="{{ url_for('course', CourseID=course["Course ID"]) }}" class="course-link">
                    <h5 class="card-title">
                        {{ course["Course Name"] }}
                        <span class="badge badge-primary">
                            Student
                        </span>
                    </h5>
                </a>
            <h6 class="card-subtitle mb-2 text-muted">Teacher: {{ course["Teacher First Name"] }} {{ course["Teacher Last Name"] }}</h6>
            </div>
        </div>
    {% endfor %}

    {% for course in teacher_course_list %}
        <div class="card mt-4">
            <div class="card-body">
                <a href="{{ url_for('course', CourseID=course["Course ID"]) }}" class="course-link">
                    <h5 class="card-title">
                        {{ course["Course Name"] }}
                        <span class="badge badge-danger">
                            Teacher
                        </span>
                    </h5>
                </a>
            <h6 class="card-subtitle mb-2 text-muted">Teacher: {{ course["Teacher First Name"] }} {{ course["Teacher Last Name"] }}</h6>
            </div>
        </div>
    {% endfor %} -->

{% endblock content %}