{% extends 'base.html' %}

{% block stylesheet %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock stylesheet %}

{% block title %}
    LMS - Home
{% endblock title %}

{% block content %}
    {% if session.User.is_admin or session.User.is_manager %}
        <div class="row">
            <div class="col">
                <a href="{{ url_for('user_list') }}" class="btn btn-lg btn-outline-primary btn-block" role="button">Users</a>
            </div>
            {% if session.User.is_admin %}                
                <div class="col">
                    <a href="{{ url_for('cluster_list') }}" class="btn btn-lg btn-outline-primary btn-block" role="button">Clusters</a>
                </div>
            {% endif %}
            <div class="col">
                <a href="{{ url_for('course_list') }}" class="btn btn-lg btn-outline-primary btn-block" role="button">Courses</a>
            </div>
        </div>
    {% endif %}
{% endblock content %}