{% macro flash(message, category='primary') -%}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{%- endmacro %}


{% macro page_header(text) %}
    <h2 class="pb-2 mt-4 mb-4 border-bottom">
        {{ text }}
    </h2>
{% endmacro %}


{% macro table(li, button=true, button_text='Edit', button_url="", button_color='primary', button_head='Action') %}
    {% if li %}    
        <table id="table_id" class="display table_id">
            <thead>
                <tr>
                    {% for key, value in li[0].items() %}
                        {% if button and (key == 'ID' or key == 'Id' or key == 'id') %}
                            <th style="text-align: center;">
                                {{ button_head }}
                            </th>
                        {% else %}
                            <th>{{ key }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for dict in li %}
                    <tr>
                    {% for key, value in dict.items() %}
                        {% if button and (key == 'ID' or key == 'Id' or key == 'id') %}
                            <td style="text-align: center;">
                                <a href="{{ url_for(button_url, ID=value) }}" class="btn btn-{{ button_color }}" role="button">{{ button_text }}</a>
                            </td>
                        {% else %}
                            <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}

{% macro input(name, label, have_label=true, placeholder="", required=false, type="text", value="") %}
    {% set unique_id = "id" + range(0, 1000000) | random | string %}
    {% if have_label %}        
        <div class="form-group">
            <label for="{{ unique_id }}">{{label}}</label>
            {% if required %}
                <input name="{{ name }}" type="{{ type }}" class="form-control" id="{{ unique_id }}" placeholder="{{placeholder}}" value="{{ value }}" required>
            {% else %}
                <input name="{{ name }}" type="{{ type }}" class="form-control" id="{{ unique_id }}" placeholder="{{placeholder}}" value="{{ value }}">
            {% endif %}
        </div>
    {% else %}
        {% if required %}
            <input name="{{ name }}" type="{{ type }}" class="form-control" placeholder="{{placeholder}}" value="{{ value }}" required>
        {% else %}
            <input name="{{ name }}" type="{{ type }}" class="form-control" placeholder="{{placeholder}}" value="{{ value }}">
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro text_area(name, label, have_label=true, placeholder="", required=false, type="text", value="", rows="5") %}
    {% set unique_id = "id" + range(0, 1000000) | random | string %}
    {% if have_label %}        
        <div class="form-group">
            <label for="{{ unique_id }}">{{label}}</label>
            {% if required %}
                <textarea name="{{ name }}" type="{{ type }}" class="form-control" id="{{ unique_id }}" placeholder="{{placeholder}}" value="{{ value }}" required rows="{{ rows }}"></textarea>
            {% else %}
                <textarea name="{{ name }}" type="{{ type }}" class="form-control" id="{{ unique_id }}" placeholder="{{placeholder}}" value="{{ value }}" rows="{{ rows }}"></textarea>
            {% endif %}
        </div>
    {% else %}
        {% if required %}
            <textarea name="{{ name }}" type="{{ type }}" class="form-control" placeholder="{{placeholder}}" value="{{ value }}" required rows="{{ rows }}"></textarea>
        {% else %}
            <textarea name="{{ name }}" type="{{ type }}" class="form-control" placeholder="{{placeholder}}" value="{{ value }}" rows="{{ rows }}"></textarea>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro input_select(name, li, value, value_name, label, have_label=true, required=false, default_value_name="") %}
    {% set unique_id = "id" + range(0, 1000000) | random | string %}
    {% if have_label %}
        <div class="form-group">
            <label for="{{ unique_id }}">{{ label }}</label>
            <select name="{{ name }}" id="{{ unique_id }}" class="form-control" {% if required %}required{% endif %}>
                <option value="" disabled selected>{{ default_value_name }}</option>
                {% for dict in li %}
                    <option value="{{ dict[value] }}">{{ dict[value_name] }}</option>
                {% endfor %}
            </select>
        </div>
    {% else %}
        <select name="{{ name }}" class="form-control" {% if required %}required{% endif %}>
            <option value="" disabled selected>{{ default_value_name }}</option>
            {% for dict in li %}
                <option value="{{ dict[value] }}">{{ dict[value_name] }}</option>
            {% endfor %}
        </select>
    {% endif %}
{% endmacro %}